/* html, body {
  height: 100%;
  overflow: hidden;
  font-family: Pretendard, sans-serif;
} */

.btn {
  display: inline-block;
  margin-top: 16px;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}



body {
  font-family: Pretendard, sans-serif;
  color: #222;
  background: #f7f7f7;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-header {
  padding: 24px 40px;
}

.back-link {
  font-size: 14px;
  color: #555;
}
